#expand {
    display: inline-block;
    width: auto;
    border-left: 5px solid green;
    margin-left: 20px;
    margin-top: 20px;
    padding-left: 20px;
}

ul {
    display: inline-block;
    width: auto;
    border-left: 5px solid red;
    margin-left: 20px !important;
    /*margin-top: 20px;
    padding-left: 25% !important;*/
}

li {
    display: list-item;
    list-style-type: disclosure-closed;
    list-style-position: inside;
    margin-left: 20px !important;
    /*padding-left: 20px;*/
}
