@inherits MathJaxContentComponent

<div id="expand">
    <p>
        If a value from the decision function is less than or equal to -1, then multiplying it by $t_{i}$ (which, because the instance is negative, will be equal to -1) will result in a number that is greater than or equal to +1.
    </p>
</div>

@code {

}
