@inherits MathJaxContentComponent
<div id="expand">
    <p>If the transpose of $\mathbf{w}$ is not taken, we get the following expansion: 
        $$w_{1} x_{1} + \dots + w_{p} x_{p} = 0$$
    </p>
    <p>
        The convention is to turn $\mathbf{w}$ (typically a column vector) into a row vector by performing transposition in order to express
        the product of the two vectors as a single-cell matrix rather than a scalar. This same notation will be used throughout the contents of the 2 articles
        on SVMs.
    </p>
</div>
@code {
    
}
